.fundo-img {
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
}

.corrigindo-cabecalho {
    height: 56px;
}

.bg-color-primary{
    background-color: var(--bs-gray-900);
    min-height: 500px;
}

.bg-color-secondary {
    background-color: var(--bs-gray-300);
    min-height: 500px;
}

section.container-fluid.bg-color-primary.text-primary {
    color: var(--bs-gray-300) !important;
}

section.container-fluid.bg-color-secondary.text-secondary {
    color: var(--bs-gray-800) !important;
}

.background-text {
    background-color: #FFFFFFC5;
}