<div class="container-fluid bg-dark px-5 py-5 align-bottom text-bg-dark">
    <div class="row">
        <div class="col-md-4">
            <h5>Menu</h5>
            <ul>
                <li>Home</li>
                <li>Sobre mim</li>
                <li>Formação</li>
                <li>Atuação profissional</li>
                <li>Contato</li>
                <li>Portifólio</li>
                <li>Tecnologias</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Redes</h5>
        </div>
        <div class="col-md-4">
            <h5>Contatos</h5>
        </div>
    </div>

</div>