<div class="container-fluid bg-dark px-5 pt-5 align-bottom text-bg-dark">
    <div class="row pb-4">
        <div class="col-md-4 text-center pt-4">
            <h5>Páginas</h5>
            <ul class="list-unstyled">
                <li>
                    <a class="nav-link link-light" id="homeFooter" href="index.html" aria-current="page">Home</a>
                </li>
                <li>
                    <a class="nav-link link-light" href="sobre.html" id="sobreFooter" class="" aria-current="page">Sobre
                        mim</a>
                </li>
                <li>
                    <a class="nav-link link-light" href="formacao.html" id="formacaoFooter" class=""
                        aria-current="page">Formação</a>
                </li>
                <li>
                    <a class="nav-link link-light" href="profissional.html" id="atuacaoProfissionalFooter" class=""
                        aria-current="page">Atuação profissional</a>
                </li>
                <li>
                    <a class="nav-link link-light" href="contato.html" id="contatoFooter" class=""
                        aria-current="page">Contato</a>
                </li>
                <li>
                    <a class="nav-link link-light" href="portfolio.html" id="portfolioFooter" class=""
                        aria-current="page">Portfólio</a>
                </li>
                <li>
                    <a class="nav-link link-light" href="tecnologias.html" id="tecnologiasFooter" class=""
                        aria-current="page">Tecnologias</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 text-center pt-4">
            <h5>Redes</h5>
            <ul class="list-unstyled">
                <li>
                    <a class="nav-link link-light" href="https://github.com/thalesfossalussa" target="_blank"
                        aria-current="page"><i class="bi bi-github text-white"></i> GitHub</a>
                </li>
                <li>
                    <a class="nav-link link-light" href="https://www.linkedin.com/in/thales-vitor-fossalussa-46462a171/"
                        target="_blank" aria-current="page"><i class="bi bi-linkedin text-white"></i> Linkedin</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 text-center pt-4">
            <h5>Contatos</h5>
            <ul class="list-unstyled">
                <li>
                    <a class="nav-link link-light" href="tel:+5517981874132" aria-current="page"><i
                            class="bi bi-telephone-fill text-white"></i> Telefone</a>
                </li>
                <li>
                    <a class="nav-link link-light" href="mailto:thalesvitor2001@gmail.com"><i
                            class="bi bi-envelope-fill text-white"></i> Email</a>
                </li>
                <li>
                    <a target="_blank" class="nav-link link-light" href="https://wa.me/5517981874132"><i
                            class="bi bi-whatsapp text-white"></i> WhatsApp</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <hr>
        <p class="text-center text-white-50">Developed by: Thales Fossalussa</p>
    </div>

</div>